@model Planny.ViewModel.UserJourneyViewModel
@{
    ViewBag.Title = "UserJourneyView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Journey: @Model.UserJourney.Name</h2>
<p>Description: @Model.UserJourney.Description</p>
<p>Status: @Model.UserJourney.Status</p>
<p>Priority: @Model.UserJourney.Priority</p>
<p>
    Sprint:
    @Html.ActionLink(@Model.UserJourney.Sprint.Name, "Details", "Sprints", new { id = @Model.UserJourney.SprintId }, null)
</p>
<p>
    Release:
    @Html.ActionLink(@Model.UserJourney.Sprint.Release.Name, "Details", "Releases", new { id = @Model.UserJourney.Sprint.ReleaseId }, null)
</p>
<p>
    Project:
    @Html.ActionLink(@Model.UserJourney.Sprint.Release.Project.Name, "Details", "Projects", new { id = @Model.UserJourney.Sprint.Release.ProjectId }, null)
</p>

<h3>Tasks:</h3>

<p>
    @Html.ActionLink("New Task", "New", "ProjectTasks", null, new { @class = "btn btn-success" })
</p>

@if (@Model.ProjectTasks.Count() == 0)
{
    <h2>No Tasks.</h2>
}
else
{
    <table class="table table-striped table-hover ">
        <thead>
        <th>Name</th>
        <th>Status</th>
        <th>Priority</th>
        <th>User Journey</th>
        </thead>
        <tbody>
            @foreach (var Task in @Model.ProjectTasks)
            {
                <tr>
                    <td>
                        @Html.ActionLink(@Task.Id + " " + @Task.Name, "Details", "ProjectTasks", new { id = @Task.Id }, null)
                    </td>
                    <td>@Task.Status.Name</td>
                    <td>@Task.Priority.Name</td>
                    <td>
                        @Html.ActionLink(@Task.UserJourney.Name, "Details", "UserJourneys", new { id = @Task.UserJourneyId }, null)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "ProjectTasks", new { id = @Task.Id }, null)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", "ProjectTasks", new { id = @Task.Id }, new { @class = "btn btn-danger" })
                    </td>

                </tr>

            }
        </tbody>
    </table>
}
