@model IEnumerable<Planny.Models.Status>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Status</h2>

<p>
    @Html.ActionLink("New Status", "New", "Status", null, new { @class = "btn btn-success" })
</p>

@if (!@Model.Any())
{
    <h2>No statuses.</h2>
}
else
{
    <table class="table table-striped table-hover ">
        <thead>
        <th>Name</th>
        </thead>
        <tbody>
            @foreach (var Status in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(@Status.Name, "Details", "Status", new { id = @Status.Id }, null)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Status", new { id = @Status.Id }, null)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", "Status", new { id = @Status.Id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>

            }
        </tbody>
    </table>
}