@model Planny.ViewModel.ProjectTaskFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>


@* renders <formm and </form> *@
@using (Html.BeginForm("Save", "ProjectTasks"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.ProjectTask.Name)
        @Html.TextBoxFor(m => m.ProjectTask.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.ProjectTask.Name)
        </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ProjectTask.Description)
        @Html.TextBoxFor(m => m.ProjectTask.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.ProjectTask.Description)

        </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ProjectTask.StatusId)
        @Html.DropDownListFor(m => m.ProjectTask.StatusId, new SelectList(Model.Statuses, "Id", "Name"), new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ProjectTask.PriorityId)
        @Html.DropDownListFor(m => m.ProjectTask.PriorityId, new SelectList(Model.Priorities, "Id", "Name"), new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ProjectTask.UserJourneyId)
        @Html.DropDownListFor(m => m.ProjectTask.UserJourneyId, new SelectList(Model.UserJourneys, "Id", "Name"), new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m=>m.ProjectTask.Id)

    <button class="btn btn-primary">Save</button>

}

