@using Planny.Controllers
@using Planny.Models
@model IEnumerable<Planny.Models.Sprint>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sprints</h2>
<p>
    @Html.ActionLink("New Sprint", "New", "Sprints", null, new { @class = "btn btn-primary" })
</p>
@if (!@Model.Any())
{
    <h2>No Sprints.</h2>
}
else
{
    <table class="table table-striped table-hover ">
        <thead>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Release</th>
        <th>Project</th>
        </thead>
        <tbody>
            @foreach (var Sprint in Model)
            {
            <tr>
                <td>
                    @Html.ActionLink(@Sprint.Name, "Details", "Sprints", new { id = @Sprint.Id }, null)
                </td>
                <td>@Sprint.StartDate</td>
                <td>@Sprint.EndDate</td>
                <td>
                    @Html.ActionLink(@Sprint.Release.Name, "Details", "Releases", new { id = @Sprint.ReleaseId }, null)
                </td>
                <td>
                    @Html.ActionLink(@Sprint.Release.Project.Name, "Details", "Projects", new { id = @Sprint.Release.ProjectId }, null)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Sprints", new { id = @Sprint.Id }, null)
                </td>

            </tr>

            }
        </tbody>
    </table>
}



